<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <style>
        body {
            background-color: rgb(198, 168, 126);
        }
    </style>
    <h1>Calculate</h1>
    <button class="small-button">back</button>
    <!-- Input box for user input -->
    <input type="text" id="userInput" placeholder="Enter an expression">

    <!-- Button to submit input -->
    <button id="submitButton">Submit</button>
</body>
</html>