<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <style>
        body {
            background-color: rgb(198, 168, 126);
        }
    </style>
    <h1>History Log</h1>
    <h2>How would you like to manage the calculator's memory?</h2>

    <a href="{{ url_for('home') }}">
        <button class="small-button">back</button>
    </a>

    <button class="big-button">View Memory</button>
    <button class="big-button">Previous Answer Memory</button>
    <button class="big-button">Clear Memory</button>

</body>
</html>