<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <style>
        body {
            background-color: rgb(198, 168, 126);
        }
    </style>
    <h1>Calculator</h1>
    <a href="{{ url_for('calculate') }}">
        <button class="big-button">Calculate</button>
    </a>
    <a href="{{ url_for('help') }}">
        <button class="big-button">Help</button>
    </a>
    <a href="{{ url_for('update_log') }}">
        <button class="big-button">Update Log</button>
    </a>
    <a href="{{ url_for('history_log') }}">
        <button class="big-button">History Log</button>
    </a>
</body>
</html>